<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.makedel.mapper.UserMapper">

    <select id="isExistsId" resultType="boolean">
        SELECT EXISTS
        (SELECT id FROM USER WHERE id = #{id})
    </select>

    <insert id="insertUser" parameterType="com.flab.makedel.dto.UserDTO">
        INSERT INTO USER(id, password, email, name, phone, address, level)
        VALUES(#{id}, #{password}, #{email}, #{name}, #{phone}, #{address}, #{level})
    </insert>

    <select id="selectUserById" resultType="com.flab.makedel.dto.UserDTO">
        SELECT id, password, email, name, phone, address, level, created_at, updated_at
        FROM USER WHERE id = #{id}
    </select>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM USER WHERE id = #{id}
    </delete>

    <update id="updateUserPassword" parameterType="String">
        UPDATE USER SET password = #{newPassword} , updated_at = NOW()
        WHERE id = #{id}
    </update>

</mapper>
